.stripe-header {
    position: relative;
    background-color: black;
    color: white;
    padding: 10px 20px;
}

.stripe-header.hidden {
    margin-bottom: 40px;
}

.stripe-search {
    position: relative;
    background-color: grey;
    color: white;
    padding: 10px 20px;
}

.stripe-search.fixed {
    position: fixed;
    top: 0;
    width: 860px;
}
